Binaries
Content\VehicleVarietyPack\
Content\Megascans\3D_Assets\
Content\Megascans\Surfaces\
Content\KiteDemo\
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace